<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
 						
 						http://www.springframework.org/schema/jee 
 						http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
						"><!-- 添加jee的namespace 并指定地址 -->
	
		
	<!-- 数据源 使用Jakarta 的Commons Database Connection Pools -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="5" />
		<property name="maxActive" value="10" />
	</bean>
	
	<!-- 加载properties 文件 -->
	<context:property-placeholder location="charpter5/database.properties"></context:property-placeholder>

	<!-- JdbcTemplate 需要用到数据源(dataSource)-->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>
	
	<!-- NamedParameterJdbcTemplate 需要用到数据源(dataSource)-->
	<bean id="NamedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>
	
	<bean id="jdbcTemplateSpitterDao" class="org.junjun.spring.charpter5.second_jdbcTemplate.JdbcTemplateSpitterDAO">
		<property name="jdbcTeplate" ref="jdbcTemplate"></property>
		<property name="NPjdbcTeplate" ref="NamedParameterJdbcTemplate"></property>
	 </bean>
	 
</beans>