<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:context="http://www.springframework.org/schema/context"
          xmlns:mongo="http://www.springframework.org/schema/data/mongo"
          xmlns:p="http://www.springframework.org/schema/p"
          xsi:schemaLocation=
          "http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:egcrawler.properties</value>
				<value>classpath:pattern.properties</value>
			</list>
		</property>
	</bean>
	
  <bean id="testProps" class ="java.lang.String" >
  	<constructor-arg value="${test}"></constructor-arg>
  </bean>
  
<!-- Default bean name is 'mongo' -->
   <mongo:mongo host="localhost" port="27017"/> 
  
    
   <!-- remote server -->
   <mongo:mongo id = "rmongo" host="42.96.143.59" port="27017">
    <mongo:options connections-per-host="8"
     threads-allowed-to-block-for-connection-multiplier="4"
     connect-timeout="10000" 
     max-wait-time="5500" 
     auto-connect-retry="true"
     socket-keep-alive="true"
     socket-timeout="10000"
     slave-ok="true"
     write-number="1"
     write-timeout="0"
     write-fsync="true" />
   </mongo:mongo>

  <bean id="DAOMongo" class="org.easyGoingCrawler.DAO.DAOMongo">
  	<constructor-arg value="42.96.143.59"></constructor-arg>
  	<constructor-arg value="27017"></constructor-arg>
  	<constructor-arg value="moviedb"></constructor-arg>
  </bean>
  
  <bean id="EGDAOMongoMovie" class="org.easyGoingCrawler.DAO.EGDAOMongoMovie">
  	<constructor-arg ref="DAOMongo"></constructor-arg>
  	<constructor-arg value="-1"></constructor-arg>
  	<constructor-arg value="http://baoku.player.baidu.com/search.php?word="></constructor-arg>
  </bean>
   
  <!-- host list -->
  <bean id="hosts" class="java.util.ArrayList">
  	<constructor-arg>
  		<list>
 			<value>${host_csdn}</value> 		   
			<value>${host_chinaunix}</value>
			 <value>${host_cnblogs}</value> 
			  <value>${host_51cto}</value>
			   <value>${host_ibmcn}</value>
			   <value>${host_oschina}</value>
			   <value>${host_iteye}</value>
			   <value>${host_douban_movie}</value>
			   
		</list>
  	</constructor-arg>
  </bean>
  
  <!-- save pattern  -->
  <bean id="pattern_save" class="java.util.HashMap">
  	<constructor-arg>
  		<map>
   			<entry key="${host_csdn}" value="${save_csdn}"></entry>
   			<entry key="${host_cnblogs}" value="${save_cnblogs}"></entry>
   			<entry key="${host_chinaunix}" value="${save_chinaunix}"></entry>
   			<entry key="${host_51cto}" value="${save_51cto}"></entry>
   			<entry key="${host_oschina}" value="${save_oschina}"></entry>
   			<entry key="${host_ibmcn}" value="${save_ibmcn}"></entry>
   			<entry key="${host_iteye}" value="${save_iteye}"></entry>
   			<entry key="${host_douban_movie}" value="${save_douban_movie}"></entry>
   		</map>
  	</constructor-arg>
   </bean>
   
   <!-- hold pattern  -->
  <bean id="pattern_hold" class="java.util.HashMap">
  	<constructor-arg>
  		<map>
   			<entry key="${host_csdn}" value="${hold_csdn}"></entry>
   			<entry key="${host_cnblogs}" value="${hold_cnblogs}"></entry>
   			<entry key="${host_chinaunix}" value="${hold_chinaunix}"></entry>
   			<entry key="${host_51cto}" value="${hold_51cto}"></entry>
   			<entry key="${host_oschina}" value="${hold_oschina}"></entry>
   			<entry key="${host_ibmcn}" value="${hold_ibmcn}"></entry>
   			<entry key="${host_iteye}" value="${hold_iteye}"></entry>
   			<entry key="${host_douban_movie}" value="${hold_douban_movie}"></entry>
   		</map>
  	</constructor-arg>
   </bean>
  
   <!-- EG DAO -->
   <bean id ="EGDAOMongo" class="org.easyGoingCrawler.DAO.EGDAOMongo" p:pattern_save-ref="pattern_save"> 
   		<constructor-arg ref="rmongo"></constructor-arg>
   		<constructor-arg value="moviedb"></constructor-arg>
   		<constructor-arg ref="hosts">  </constructor-arg> 
   </bean>
   
     <!-- EG DAO remote -->
   <bean id ="rEGDAOMongo" class="org.easyGoingCrawler.DAO.EGDAOMongo" p:pattern_save-ref="pattern_save"> 
   		<constructor-arg ref="rmongo"></constructor-arg>
   		<constructor-arg value="blogdb"></constructor-arg>
   		<constructor-arg ref="hosts">  </constructor-arg> 
   </bean>
   
   <!-- url analyzer to indecate wether to save to the database -->
   <bean id="urlAnalyzer" class="org.easyGoingCrawler.util.URLAnalyzer">
   		<constructor-arg ref="pattern_save"> </constructor-arg>
   		<constructor-arg ref="pattern_hold"></constructor-arg>
   </bean>
  
  <!-- fetcher -->  
  <bean id="fetcherByWebDriver" class="org.easyGoingCrawler.fetcher.HttpFetcherByWebDriver" scope="prototype" /> 
  <bean id="fetcherHtmlUnitXML" class="org.easyGoingCrawler.fetcher.HttpFetcherByHtmlUnitXML" scope="prototype" /> 
  <bean id="fetcherHtmlUnit" class="org.easyGoingCrawler.fetcher.HttpFetcherByHtmlUnit" scope="prototype" /> 
  <bean id="fetcherHtmlUnitJs" class="org.easyGoingCrawler.fetcher.HttpFetcherByHtmlUnit" scope="prototype" >
  	<constructor-arg value="#{true}"></constructor-arg>
  </bean>
  <bean id="fetcherHtmlUnitJsLogin" class="org.easyGoingCrawler.fetcher.HttpFetcherByHtmlUnitLogin" scope="prototype" >
  	<constructor-arg value="#{true}"></constructor-arg>
  	<constructor-arg value="src\\main\\resources\\loginCnblog.txt"></constructor-arg>
  </bean>
      <bean id="fetcherJsoup" class="org.easyGoingCrawler.fetcher.HttpFetcherByJsoup" scope="prototype" >
  	<constructor-arg value="10"></constructor-arg>
  	</bean>
  
  <bean id="fetcher" class="org.easyGoingCrawler.fetcher.HttpFetcher" scope="prototype" />
   <bean id="fetcherBaseProxy" class="org.easyGoingCrawler.fetcher.HttpFetcherProxy" scope="prototype" />
  <bean id="fetcherProxy" class="org.easyGoingCrawler.fetcher.HttpFetcherByHtmlUnitProxy" scope="prototype" >
  </bean>
  
  
   <!-- extractor -->
  <bean id="extractor" class="org.easyGoingCrawler.extractor.HTMLExtractor" scope="prototype"/>
  
  <!-- monggo writer -->
  <bean id="monggowriter" class=" org.easyGoingCrawler.docWriter.MongoWriter" scope="prototype">
  		<constructor-arg ref="EGDAOMongo"></constructor-arg>
  		<constructor-arg ref="urlAnalyzer"></constructor-arg>
  		<constructor-arg ref="blogerAnalyzer"></constructor-arg>
  		<constructor-arg ref="blogAnalyzer"></constructor-arg>
  </bean>
 		
   <!-- mirror writer -->
  <bean id="mirrorwriter" class=" org.easyGoingCrawler.docWriter.MirrorWriter"
  		p:urAnalyzer-ref ="urlAnalyzer"
 		scope="prototype" />
 		
   <!-- Mongo Html writer -->
  <bean id="MongoHtmlWriter" class=" org.easyGoingCrawler.docWriter.MongoHtmlWriter"
 		p:urAnalyzer-ref ="urlAnalyzer"
 		scope="prototype" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 	</bean>
 	
    <!-- movie  writer -->
  <bean id="MovieWriter" class=" org.easyGoingCrawler.docWriter.MovieWriter"
 		p:urAnalyzer-ref ="urlAnalyzer" p:analyzer-ref ="DoubanMovieAnalyzer"
 		scope="prototype" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 	</bean>
 
   <bean id="ResourceWriter" class=" org.easyGoingCrawler.docWriter.ResourceWriter"
 		p:analyzer-ref ="ResourceAnanyzerBaidu"
 		scope="prototype" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 	</bean>
 
 <!-- writer chain -->
  <bean id="docwriter" class=" org.easyGoingCrawler.docWriter.DocWriterChain" scope="prototype" >
  	<constructor-arg>
  		<list>
  			<ref bean = "MovieWriter"/>	
  			<ref bean = "MongoHtmlWriter"/>	
  		</list>
  	</constructor-arg>
 </bean>
 		
 		
  <!-- blog analyzer -->
  <bean id="blogAnalyzer" class="org.easyGoingCrawler.analyzer.BlogAnalyzer">
  	<constructor-arg >
  		<map>
  			<entry key="${host_csdn}" value-ref="CSDNBlogAnalyzer"></entry>
  			<entry key="${host_cnblogs}" value-ref="CnblogsBlogAnalyzer"></entry>
  			<entry key="${host_chinaunix}" value-ref="ChinaUnixBlogAnalyzer"></entry>
  			<entry key="${host_oschina}" value-ref="OschinaBlogAnalyzer"></entry>
  			<entry key="${host_51cto}" value-ref="A51ctoBlogAnalyzer"></entry>
  			<entry key="${host_ibmcn}" value-ref="IBMBlogAnalyzer"></entry>
  			<entry key="${host_iteye}" value-ref="IteyeBlogAnalyzer"></entry>
  		</map>
  	</constructor-arg>
  </bean>
  
  <!-- bloger analyzer -->
   <bean id="blogerAnalyzer" class="org.easyGoingCrawler.analyzer.BlogerAnalyzer">
  	<constructor-arg >
  		<map>
  			<entry key="${host_csdn}" value-ref="CSDNBlogerAnalyzer"></entry>
  			<entry key="${host_cnblogs}" value-ref="CnblogsBlogerAnalyzer"></entry>
  			<entry key="${host_chinaunix}" value-ref="ChinaUnixBlogerAnalyzer"></entry>
  			<entry key="${host_oschina}" value-ref="OschinaBlogerAnalyzer"></entry>
  			<entry key="${host_51cto}" value-ref="A51ctoBlogerAnalyzer"></entry>
  			<entry key="${host_ibmcn}" value-ref="IBMBlogerAnalyzer"></entry>
  			<entry key="${host_iteye}" value-ref="IteyeBlogerAnalyzer"></entry>
  		</map>
  	</constructor-arg>
  </bean>
  
  <!-- movie analyzer -->
   <bean id="movieAnalyzer" class="org.easyGoingCrawler.analyzer.MovieAnalyzer">
  	<constructor-arg >
  		<map>
  			<entry key="${host_douban_movie}" value-ref="DoubanMovieAnalyzer"></entry>
			
  		</map>
  	</constructor-arg>
  </bean>
  
  <!-- bloger and blog analyzer for csdn -->
  <bean id="CSDNBlogAnalyzer"  class="org.easyGoingCrawler.analyzer.CSDNBlogAnalyzer"></bean>
  <bean id="CSDNBlogerAnalyzer"  class="org.easyGoingCrawler.analyzer.CSDNBlogerAnalyzer"></bean>
  <bean id="CnblogsBlogAnalyzer"  class="org.easyGoingCrawler.analyzer.CnblogsBlogAnalyzer"></bean>
  <bean id="CnblogsBlogerAnalyzer"  class="org.easyGoingCrawler.analyzer.CnblogsBlogerAnalyzer"></bean>
  <bean id="ChinaUnixBlogAnalyzer"  class="org.easyGoingCrawler.analyzer.ChinaUnixBlogAnalyzer"></bean>
  <bean id="ChinaUnixBlogerAnalyzer"  class="org.easyGoingCrawler.analyzer.ChinaUnixBlogerAnalyzer"></bean>
  <bean id="OschinaBlogAnalyzer"  class="org.easyGoingCrawler.analyzer.OschinaBlogAnalyzer"></bean>
  <bean id="OschinaBlogerAnalyzer"  class="org.easyGoingCrawler.analyzer.OschinaBlogerAnalyzer"></bean> 
  <bean id="A51ctoBlogAnalyzer"  class="org.easyGoingCrawler.analyzer.A51ctoBlogAnalyzer"></bean>
  <bean id="A51ctoBlogerAnalyzer"  class="org.easyGoingCrawler.analyzer.A51ctoBlogerAnalyzer"></bean>
  <bean id="IBMBlogAnalyzer"  class="org.easyGoingCrawler.analyzer.IBMBlogAnalyzer"></bean>
  <bean id="IBMBlogerAnalyzer"  class="org.easyGoingCrawler.analyzer.IBMBlogerAnalyzer"></bean>
  <bean id="IteyeBlogAnalyzer"  class="org.easyGoingCrawler.analyzer.IteyeBlogAnalyzer"></bean>
  <bean id="IteyeBlogerAnalyzer"  class="org.easyGoingCrawler.analyzer.IteyeBlogerAnalyzer"></bean>
  <bean id="DoubanMovieAnalyzer"  class="org.easyGoingCrawler.analyzer.DoubanMovieAnalyzer"></bean>
  <bean id="ResourceAnanyzerBaidu"  class="org.easyGoingCrawler.analyzer.ResourceAnanyzerBaidu"></bean>
  
  <!-- csdn  -->
  <bean id="csdnscheduleer" class="org.easyGoingCrawler.urlscheduler.RotateHostURLScheduler"  scope="singleton" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 		<constructor-arg value="${host_csdn}"></constructor-arg>
 		<constructor-arg ref="urlAnalyzer"></constructor-arg>
 </bean>
  <bean id="CSDNcrawler" class="org.easyGoingCrawler.framwork.EGCrawler" scope="prototype">
		<constructor-arg ref = "fetcherHtmlUnit"></constructor-arg>
		<constructor-arg ref = "extractor"></constructor-arg>
		<constructor-arg ref = "csdnscheduleer"></constructor-arg>
		<constructor-arg ref ="docwriter"></constructor-arg>
		<constructor-arg value="${host_csdn}"></constructor-arg>
  </bean>
  <!-- csdn end -->
  
  <!-- chinaunix  -->
  <bean id="ChinaUnixscheduleer" class="org.easyGoingCrawler.urlscheduler.RotateHostURLScheduler"  scope="singleton" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 		<constructor-arg value="${host_chinaunix}"></constructor-arg>
 		<constructor-arg ref="urlAnalyzer"></constructor-arg>
 </bean>
  <bean id="ChinaUnixcrawler" class="org.easyGoingCrawler.framwork.EGCrawler" scope="prototype">
		<constructor-arg ref = "fetcherHtmlUnit"></constructor-arg>
		<constructor-arg ref = "extractor"></constructor-arg>
		<constructor-arg ref = "ChinaUnixscheduleer"></constructor-arg>
		<constructor-arg ref ="docwriter"></constructor-arg>
		<constructor-arg value="${host_chinaunix}"></constructor-arg>
  </bean>
  <!-- chinaunix end -->
  
    
  <!-- oschina  -->
  <bean id="OsChinaScheduleer" class="org.easyGoingCrawler.urlscheduler.RotateHostURLScheduler"  scope="singleton" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 		<constructor-arg value="${host_oschina}"></constructor-arg>
 		<constructor-arg ref="urlAnalyzer"></constructor-arg>
 </bean>
  <bean id="OsChinacrawler" class="org.easyGoingCrawler.framwork.EGCrawler" scope="prototype">
		<constructor-arg ref = "fetcherHtmlUnit"></constructor-arg>
		<constructor-arg ref = "extractor"></constructor-arg>
		<constructor-arg ref = "OsChinaScheduleer"></constructor-arg>
		<constructor-arg ref ="docwriter"></constructor-arg>
		<constructor-arg value="${host_oschina}"></constructor-arg>
  </bean>
  <!-- oschina end -->
  
  <!-- 51cto  -->
  <bean id="A51ctoScheduleer" class="org.easyGoingCrawler.urlscheduler.RotateHostURLScheduler"  scope="singleton" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 		<constructor-arg value="${host_51cto}"></constructor-arg>
 		<constructor-arg ref="urlAnalyzer"></constructor-arg>
 </bean>
  <bean id="A51ctocrawler" class="org.easyGoingCrawler.framwork.EGCrawler" scope="prototype">
		<constructor-arg ref = "fetcherHtmlUnitJs"></constructor-arg>
		<constructor-arg ref = "extractor"></constructor-arg>
		<constructor-arg ref = "A51ctoScheduleer"></constructor-arg>
		<constructor-arg ref ="docwriter"></constructor-arg>
		<constructor-arg value="${host_51cto}"></constructor-arg>
  </bean>
  <!-- 51cto end -->
  
  <!-- cnblog  -->
  <bean id="CnblogsScheduleer" class="org.easyGoingCrawler.urlscheduler.RotateHostURLScheduler"  scope="singleton" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 		<constructor-arg value="${host_cnblogs}"></constructor-arg>
 		<constructor-arg ref="urlAnalyzer"></constructor-arg>
 </bean>
  <bean id="Cnblogscrawler" class="org.easyGoingCrawler.framwork.EGCrawler" scope="prototype">
		<constructor-arg ref = "fetcherHtmlUnitJsLogin"></constructor-arg>
		<constructor-arg ref = "extractor"></constructor-arg>
		<constructor-arg ref = "CnblogsScheduleer"></constructor-arg>
		<constructor-arg ref ="docwriter"></constructor-arg>
		<constructor-arg value="${host_cnblogs}"></constructor-arg>
  </bean>
  <!-- cnblog end -->
  
   <!-- IBM cn  -->
  <bean id="IbmcnScheduleer" class="org.easyGoingCrawler.urlscheduler.RotateHostURLScheduler"  scope="singleton" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 		<constructor-arg value="${host_ibmcn}"></constructor-arg>
 		<constructor-arg ref="urlAnalyzer"></constructor-arg>
 </bean>
  <bean id="Ibmcncrawler" class="org.easyGoingCrawler.framwork.EGCrawler" scope="prototype">
		<constructor-arg ref = "fetcherHtmlUnit"></constructor-arg>
		<constructor-arg ref = "extractor"></constructor-arg>
		<constructor-arg ref = "IbmcnScheduleer"></constructor-arg>
		<constructor-arg ref ="docwriter"></constructor-arg>
		<constructor-arg value="${host_ibmcn}"></constructor-arg>
  </bean>
  <!-- IBM cn end -->
  
   <!-- IBM cn  -->
  <bean id="IteyeScheduleer" class="org.easyGoingCrawler.urlscheduler.RotateHostURLScheduler"  scope="singleton" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 		<constructor-arg value="${host_iteye}"></constructor-arg>
 		<constructor-arg ref="urlAnalyzer"></constructor-arg>
 </bean>
  <bean id="Iteyecrawler" class="org.easyGoingCrawler.framwork.EGCrawler" scope="prototype">
		<constructor-arg ref = "fetcherProxy"></constructor-arg>
		<constructor-arg ref = "extractor"></constructor-arg>
		<constructor-arg ref = "IteyeScheduleer"></constructor-arg>
		<constructor-arg ref ="docwriter"></constructor-arg>
		<constructor-arg value="${host_iteye}"></constructor-arg>
  </bean>
  <!-- IBM cn end -->
  
  <!-- movie douban  -->
  <bean id="MovieScheduleer" class="org.easyGoingCrawler.urlscheduler.RotateHostURLSchedulerDouban"  scope="singleton" >
 		<constructor-arg ref="EGDAOMongo"></constructor-arg>
 		<constructor-arg value="${host_douban_movie}"></constructor-arg>
 		<constructor-arg ref="urlAnalyzer"></constructor-arg>
 </bean>
 
 <bean id="Moviecrawler" class="org.easyGoingCrawler.framwork.EGCrawler" scope="prototype">
		<constructor-arg ref = "fetcherProxy"></constructor-arg>
		<constructor-arg ref = "extractor"></constructor-arg>
		<constructor-arg ref = "MovieScheduleer"></constructor-arg>
		<constructor-arg ref ="docwriter"></constructor-arg>
		<constructor-arg value="${host_douban_movie}"></constructor-arg>
  </bean>
  
  <bean id="MoviecrawlerProxy" class="org.easyGoingCrawler.framwork.EGCrawler" scope="prototype">
		<constructor-arg ref = "fetcherProxy"></constructor-arg>
		<constructor-arg ref = "extractor"></constructor-arg>
		<constructor-arg ref = "MovieScheduleer"></constructor-arg>
		<constructor-arg ref ="docwriter"></constructor-arg>
		<constructor-arg value="${host_douban_movie}"></constructor-arg>
  </bean>
  
  
  
  <!-- movie resource  -->
  <bean id="RotateHostURLSchedulerMovie" class="org.easyGoingCrawler.urlscheduler.RotateHostURLSchedulerMovie"  scope="singleton" >
 		<constructor-arg ref="EGDAOMongoMovie"></constructor-arg>
 </bean>
  <bean id="MovieResourceCrawler" class="org.easyGoingCrawler.framwork.EGCrawler" scope="prototype">
		<constructor-arg ref = "fetcherJsoup"></constructor-arg>
		<constructor-arg ><null/></constructor-arg>
		<constructor-arg ref = "RotateHostURLSchedulerMovie"></constructor-arg>
		<constructor-arg ref ="ResourceWriter"></constructor-arg>
		<constructor-arg value="${host_douban_movie}"></constructor-arg>
  </bean>
  
  <!-- movie cn end -->
</beans>